<div>
  <h1>Chibuzor Onochie</h1>
  <h2>Professional Full-Stack Developer</h2>
  <p>incovenant&hotmail.com +2348050440372</p>
  <h2>Profile</h2>
  --------------------------------------------------------- <br />
  <br />
  A Passionate and Professional Full-Stack Developer. A proven track record of
  delivering high quality, beautiful, functional and complete applications with
  responsive designs. <br /><br />
</div>
<div>
  <h2>Work Experience</h2>
  ----------------------------------------------------------- <br />
  • Full-Stack Web Developer Oct 2022-date. Developed a full-stack application
  using HTML/CSS on the front-end and PHP/MySQL on the back-end with
  Object-Oriented Programming (OOP) concept. <br />
  • Developed a full-stack application using HTML/CSS on the front-end and
  Laravel on the back-end, with MVC concept. • Designed and built a React
  application. This app will aid market research, improve customer relations,
  and ultimately lead to better product/service performance in the market.
  <br />
  • Senior Student Counselor-BCIE Limited. 2019-2022. Marketed and recruited
  International Students for Universities. Worked quickly with Customers,
  Identified problems and offered solutions. <br />

  <h2>Education</h2>
  -----------------------------------------------------------
  <br />
  • Full-Stack Web Development Bootcamp, Moat Academy, Lagos. <br />
  • Master of Science in Management , Staffordshire University, UK. <br />
  •PgD in Marketing Management Staffordshire University, UK. <br />
  • Bachelor of Science Degree in Mathematics/E <br />

  <h2>Key Skills</h2>
  -----------------------------------------------------------
  <br />
  • Languages: HTML, CSS, PHP, and JavaScript. <br />
  • Frameworks/Libraries: React, Bootstrap, Laravel, and jQuery. <br />
  • Tool: Git. • Database: MySQL.
</div>
